@media only screen and (max-width : 768px) {
		.logo-style{
			height: 50px;
		}
		.banner-top1,
		.banner-top2,
		.banner-top3 {
    		height: 100vw;
		}
		.callbacks_nav.next {
			display: none;
		}
		.callbacks_nav.prev{
			display: none;
		}
		.banner-info_agile_w3ls h3{
			margin-top: -160px;
    		font-size: 20px;
    		line-height: 25px;
		}
		.collapse{
			position:absolute;
		}
		.navbar{
			padding: 0px;
		}
		div#navbarSupportedContent{
			margin-top: 85px;
		}
		.nav-item{
			margin:0px;
			color: #000;
		}
		ul.navbar-nav.mr-auto.wow.fadeInLeft.animated.animated.animate-style{
			margin-left: -188px;
		}
		a.nav-link{
			margin-left: 175px;
		}
		.slide_p{
			margin-top: -382px;
		}
		.banner-info_agile_w3ls p{
			display: none;
		}
		.slider-button{
			margin-top: 342px;
			margin-left: 40px;
		}
		.caption-one{
			padding-top: 0px;
			position: absolute;
			top: 10px;
		}
		.heading{
			font-size: 20px;
		}
		.our-work{
			height: 167px;
    		position: relative;
    		padding-top: 1px;
    		padding-bottom: 6px;
    		background-position: center;
		}
		.our-work p {
			width:50%;
			font-size: 10px;
			line-height: 16px;
		}
		.work-style{
			display: none !important;
		}
		.text-div{
			margin-top: 30px;
		}
		.services-style{
			margin-top: -10px;
		}
		.caption-two{
			top: 140px;
			left: 125px;
			font-size: 15px;
		}
		.caption-three{
			display: none !important;
		}
		.icon-div ul{
			flex-direction: column;
		}
		.icon-div ul li{
			text-align: center;
		}
		.icon-style{
			height: 110px;
		}
		.text-div p{
			line-height: 35px;
		}
		.text-id{
			margin-right: 85px;
		}
		.services-component {
			padding: 0px;
		}
		.icon-div {
			margin-left: 0px;
			margin-top: 20px;
		}
		.project-component {
			padding: 3px 0px;
		}
		.project-button{
			margin-top: 0px;
    		margin-bottom: 15px;
		}
		footer{
			padding: 0px;
		}
}

@media only screen and (max-width : 425px) {
		.logo-style{
			height: 50px;
		}
		.banner-top1,
		.banner-top2,
		.banner-top3 {
    		height: 100vw;
		}
		.callbacks_nav.next {
			display: none;
		}
		.callbacks_nav.prev{
			display: none;
		}
		.banner-info_agile_w3ls h3{
			margin-top: -160px;
    		font-size: 20px;
    		line-height: 25px;
		}
		.collapse{
			position:absolute;
		}
		.navbar{
			padding: 0px;
		}
		div#navbarSupportedContent{
			margin-top: 85px;
		}
		.nav-item{
			margin:0px;
			color: #000;
		}
		ul.navbar-nav.mr-auto.wow.fadeInLeft.animated.animated.animate-style{
			margin-left: -188px;
		}
		a.nav-link{
			margin-left: 175px;
		}
		.slide_p{
			margin-top: -382px;
		}
		.banner-info_agile_w3ls p{
			display: none;
		}
		.slider-button{
			margin-top: 342px;
			margin-left: 40px;
		}
		.caption-one{
			padding-top: 0px;
			position: absolute;
			top: 10px;
		}
		.heading{
			font-size: 20px;
		}
		.our-work{
			height: 167px;
    		position: relative;
    		padding-top: 1px;
    		padding-bottom: 6px;
    		background-position: center;
		}
		.our-work p {
			width:50%;
			font-size: 10px;
			line-height: 16px;
		}
		.work-style{
			display: none !important;
		}
		.text-div{
			margin-top: 30px;
		}
		.services-style{
			margin-top: -10px;
		}
		.caption-two{
			top: 140px;
			left: 125px;
			font-size: 15px;
		}
		.caption-three{
			display: none !important;
		}
		.icon-div ul{
			flex-direction: column;
		}
		.icon-div ul li{
			text-align: center;
		}
		.icon-style{
			height: 110px;
		}
		.text-div p{
			line-height: 35px;
		}
		.text-id{
			margin-right: 85px;
		}
		.services-component {
			padding: 0px;
		}
		.icon-div {
			margin-left: 0px;
			margin-top: 20px;
		}
		.project-component {
			padding: 3px 0px;
		}
		.project-button{
			margin-top: 0px;
    		margin-bottom: 15px;
		}
		footer{
			padding: 0px;
		}
}


@media only screen and (max-width : 425px) {
		.logo-style{
			height: 50px;
		}
		.banner-top1,
		.banner-top2,
		.banner-top3 {
    		height: 100vw;
		}
		.callbacks_nav.next {
			display: none;
		}
		.callbacks_nav.prev{
			display: none;
		}
		.banner-info_agile_w3ls h3{
			margin-top: -160px;
    		font-size: 20px;
    		line-height: 25px;
		}
		.collapse{
			position:absolute;
		}
		.navbar{
			padding: 0px;
		}
		div#navbarSupportedContent{
			margin-top: 85px;
		}
		.nav-item{
			margin:0px;
			color: #000;
		}
		ul.navbar-nav.mr-auto.wow.fadeInLeft.animated.animated.animate-style{
			margin-left: -188px;
		}
		a.nav-link{
			margin-left: 175px;
		}
		.slide_p{
			margin-top: -382px;
		}
		.banner-info_agile_w3ls p{
			display: none;
		}
		.slider-button{
			margin-top: 342px;
			margin-left: 40px;
		}
		.caption-one{
			padding-top: 0px;
			position: absolute;
			top: 10px;
		}
		.heading{
			font-size: 20px;
		}
		.our-work{
			height: 167px;
    		position: relative;
    		padding-top: 1px;
    		padding-bottom: 6px;
    		background-position: center;
		}
		.our-work p {
			width:50%;
			font-size: 10px;
			line-height: 16px;
		}
		.work-style{
			display: none !important;
		}
		.text-div{
			margin-top: 30px;
		}
		.services-style{
			margin-top: -10px;
		}
		.caption-two{
			top: 140px;
			left: 15
			5px;
			font-size: 15px;
		}
		.caption-three{
			display: none !important;
		}
		.icon-div ul{
			flex-direction: column;
		}
		.icon-div ul li{
			text-align: center;
		}
		.icon-style{
			height: 110px;
		}
		.text-div p{
			line-height: 35px;
		}
		.text-id{
			margin-right: 85px;
		}
		.services-component {
			padding: 0px;
		}
		.icon-div {
			margin-left: 0px;
			margin-top: 20px;
		}
		.project-component {
			padding: 3px 0px;
		}
		.project-button{
			margin-top: 0px;
    		margin-bottom: 15px;
		}
		footer{
			padding: 0px;
		}
}

@media only screen and (max-width : 414px) {
		.logo-style{
			height: 50px;
		}
		.banner-top1,
		.banner-top2,
		.banner-top3 {
    		height: 100vw;
		}
		.callbacks_nav.next {
			display: none;
		}
		.callbacks_nav.prev{
			display: none;
		}
		.banner-info_agile_w3ls h3{
			margin-top: -160px;
    		font-size: 20px;
    		line-height: 25px;
		}
		.collapse{
			position:absolute;
		}
		.navbar{
			padding: 0px;
		}
		div#navbarSupportedContent{
			margin-top: 85px;
		}
		.nav-item{
			margin:0px;
			color: #000;
		}
		ul.navbar-nav.mr-auto.wow.fadeInLeft.animated.animated.animate-style{
			margin-left: -130px;
		}
		a.nav-link{
			margin-left: 175px;
		}
		.slide_p{
			margin-top: -382px;
		}
		.banner-info_agile_w3ls p{
			display: none;
		}
		.slider-button{
			margin-top: 342px;
			margin-left: 40px;
		}
		.caption-one{
			padding-top: 0px;
			position: absolute;
			top: 10px;
		}
		.heading{
			font-size: 20px;
		}
		.our-work{
			height: 167px;
    		position: relative;
    		padding-top: 1px;
    		padding-bottom: 6px;
    		background-position: center;
		}
		.our-work p {
			width:50%;
			font-size: 10px;
			line-height: 16px;
		}
		.work-style{
			display: none !important;
		}
		.text-div{
			margin-top: 30px;
		}
		.services-style{
			margin-top: -10px;
		}
		.caption-two{
			top: 140px;
			left: 125px;
			font-size: 15px;
		}
		.caption-three{
			display: none !important;
		}
		.icon-div ul{
			flex-direction: column;
		}
		.icon-div ul li{
			text-align: center;
		}
		.icon-style{
			height: 110px;
		}
		.text-div p{
			line-height: 35px;
		}
		.text-id{
			margin-right: 85px;
		}
		.services-component {
			padding: 0px;
		}
		.icon-div {
			margin-left: 0px;
			margin-top: 20px;
		}
		.project-component {
			padding: 3px 0px;
		}
		.project-button{
			margin-top: 0px;
    		margin-bottom: 15px;
		}
		footer{
			padding: 0px;
		}
}

@media only screen and (max-width : 375px) {
		.logo-style{
			height: 50px;
		}
		.banner-top1,
		.banner-top2,
		.banner-top3 {
    		height: 100vw;
		}
		.callbacks_nav.next {
			display: none;
		}
		.callbacks_nav.prev{
			display: none;
		}
		.banner-info_agile_w3ls h3{
			margin-top: -160px;
    		font-size: 20px;
    		line-height: 25px;
		}
		.collapse{
			position:absolute;
		}
		.navbar{
			padding: 0px;
		}
		div#navbarSupportedContent{
			margin-top: 85px;
		}
		.nav-item{
			margin:0px;
			color: #000;
		}
		ul.navbar-nav.mr-auto.wow.fadeInLeft.animated.animated.animate-style{
			margin-left: -146px;
		}
		a.nav-link{
			margin-left: 175px;
		}
		.slide_p{
			margin-top: -382px;
		}
		.banner-info_agile_w3ls p{
			display: none;
		}
		.slider-button{
			margin-top: 342px;
			margin-left: 40px;
		}
		.caption-one{
			padding-top: 0px;
			position: absolute;
			top: 10px;
		}
		.heading{
			font-size: 20px;
		}
		.our-work{
			height: 167px;
    		position: relative;
    		padding-top: 1px;
    		padding-bottom: 6px;
    		background-position: center;
		}
		.our-work p {
			width:50%;
			font-size: 10px;
			line-height: 16px;
		}
		.work-style{
			display: none !important;
		}
		.text-div{
			margin-top: 30px;
		}
		.services-style{
			margin-top: -10px;
		}
		.caption-two{
			top: 140px;
			left: 125px;
			font-size: 15px;
		}
		.caption-three{
			display: none !important;
		}
		.icon-div ul{
			flex-direction: column;
		}
		.icon-div ul li{
			text-align: center;
		}
		.icon-style{
			height: 110px;
		}
		.text-div p{
			line-height: 35px;
		}
		.text-id{
			margin-right: 85px;
		}
		.services-component {
			padding: 0px;
		}
		.icon-div {
			margin-left: 0px;
			margin-top: 20px;
		}
		.project-component {
			padding: 3px 0px;
		}
		.project-button{
			margin-top: 0px;
    		margin-bottom: 15px;
		}
		footer{
			padding: 0px;
		}
}


@media only screen and (max-width : 360px) {
		.logo-style{
			height: 50px;
		}
		.banner-top1,
		.banner-top2,
		.banner-top3 {
    		height: 100vw;
		}
		.callbacks_nav.next {
			display: none;
		}
		.callbacks_nav.prev{
			display: none;
		}
		.banner-info_agile_w3ls h3{
			margin-top: -160px;
    		font-size: 20px;
    		line-height: 25px;
		}
		.collapse{
			position:absolute;
		}
		.navbar{
			padding: 0px;
		}
		div#navbarSupportedContent{
			margin-top: 85px;
		}
		.nav-item{
			margin:0px;
			color: #000;
		}
		ul.navbar-nav.mr-auto.wow.fadeInLeft.animated.animated.animate-style{
			margin-left: -188px;
		}
		a.nav-link{
			margin-left: 175px;
		}
		.slide_p{
			margin-top: -382px;
		}
		.banner-info_agile_w3ls p{
			display: none;
		}
		.slider-button{
			margin-top: 342px;
			margin-left: 40px;
		}
		.caption-one{
			padding-top: 0px;
			position: absolute;
			top: 10px;
		}
		.heading{
			font-size: 20px;
		}
		.our-work{
			height: 167px;
    		position: relative;
    		padding-top: 1px;
    		padding-bottom: 6px;
    		background-position: center;
		}
		.our-work p {
			width:50%;
			font-size: 10px;
			line-height: 16px;
		}
		.work-style{
			display: none !important;
		}
		.text-div{
			margin-top: 30px;
		}
		.services-style{
			margin-top: -10px;
		}
		.caption-two{
			top: 140px;
			left: 95px;
			font-size: 15px;
		}
		.caption-three{
			display: none !important;
		}
		.icon-div ul{
			flex-direction: column;
		}
		.icon-div ul li{
			text-align: center;
		}
		.icon-style{
			height: 110px;
		}
		.text-div p{
			line-height: 35px;
		}
		.text-id{
			margin-right: 85px;
		}
		.services-component {
			padding: 0px;
		}
		.icon-div {
			margin-left: 0px;
			margin-top: 20px;
		}
		.project-component {
			padding: 3px 0px;
		}
		.project-button{
			margin-top: 0px;
    		margin-bottom: 15px;
		}
		footer{
			padding: 0px;
		}
}


@media only screen and (max-width : 320px) {
		.logo-style{
			height: 50px;
		}
		.banner-top1,
		.banner-top2,
		.banner-top3 {
    		height: 100vw;
		}
		.callbacks_nav.next {
			display: none;
		}
		.callbacks_nav.prev{
			display: none;
		}
		.banner-info_agile_w3ls h3{
			margin-top: -160px;
    		font-size: 20px;
    		line-height: 25px;
		}
		.collapse{
			position:absolute;
		}
		.navbar{
			padding: 0px;
		}
		div#navbarSupportedContent{
			margin-top: 85px;
		}
		.nav-item{
			margin:0px;
			color: #000;
		}
		ul.navbar-nav.mr-auto.wow.fadeInLeft.animated.animated.animate-style{
			margin-left: -188px;
		}
		a.nav-link{
			margin-left: 175px;
		}
		.slide_p{
			margin-top: -382px;
		}
		.banner-info_agile_w3ls p{
			display: none;
		}
		.slider-button{
			margin-top: 342px;
			margin-left: 40px;
		}
		.caption-one{
			padding-top: 0px;
			position: absolute;
			top: 10px;
		}
		.heading{
			font-size: 20px;
		}
		.our-work{
			height: 167px;
    		position: relative;
    		padding-top: 1px;
    		padding-bottom: 6px;
    		background-position: center;
		}
		.our-work p {
			width:50%;
			font-size: 10px;
			line-height: 16px;
		}
		.work-style{
			display: none !important;
		}
		.text-div{
			margin-top: 30px;
		}
		.services-style{
			margin-top: -10px;
		}
		.caption-two{
			top: 140px;
			left: 95px;
			font-size: 15px;
		}
		.caption-three{
			display: none !important;
		}
		.icon-div ul{
			flex-direction: column;
		}
		.icon-div ul li{
			text-align: center;
		}
		.icon-style{
			height: 110px;
		}
		.text-div p{
			line-height: 35px;
		}
		.text-id{
			margin-right: 85px;
		}
		.services-component {
			padding: 0px;
		}
		.icon-div {
			margin-left: 0px;
			margin-top: 20px;
		}
		.project-component {
			padding: 3px 0px;
		}
		.project-button{
			margin-top: 0px;
    		margin-bottom: 15px;
		}
		footer{
			padding: 0px;
		}
}