/* ---------------------------------------------------
    HOMEPAGE STYLE
----------------------------------------------------- */
@media only screen and (max-width: 1024px) {
	.logo-style{
			height: 50px;
		}
		.banner-top1,
		.banner-top2,
		.banner-top3 {
    		height: 45vw;
		}
		.callbacks_nav.next {
			display: none;
		}
		.callbacks_nav.prev{
			display: none;
		}
		.banner-info_agile_w3ls h3{
			margin-top: -120px;
    		font-size: 25px;
    		line-height: 40px;
		}
		.collapse{
			position:absolute;
		}
		.navbar{
			padding: 0px;
			margin-top: 16px;
		}
		a.navbar-brand{
			margin-top: 10px;
		}
		div#navbarSupportedContent{
			margin-top: 10px;
			margin-left: 405px;
		}
		.nav-item{
			margin:0px;
			color: #000;
		}
		.slide_p{
			margin-top: -136px;
		}
		.banner-info_agile_w3ls p{
			font-size: 17px;
    		text-align: justify;
		}
		a.btn.btn-white{
			position: absolute;
    		right: 755px;
			margin-top: -80px;
			cursor: pointer;
		}
		.caption-one{
			padding-top: 0px;
			position: absolute;
			margin-top: 60px;
		}
		.work-style{
			right: 296px !important;
		}
		.services-style{
			right: 50px !important;
		}
		.our-work{
			height: 395px;
    		position: relative;
    		padding-top: 1px;
    		padding-bottom: 6px;
    		background-position: cover;
		}
		.our-work p {
			width:75%;
			font-size: 20px;
			line-height: 40px;
		}
		.caption-one-button{
			right: 297px;
			margin-top: -4px !important;
		}
		.caption-two{
			top: 370px;
			left: 455px;
			font-size: 15px;
		}
		.caption-three{
			position: absolute;
    		top: 370px;
    		right: 70px;
    		letter-spacing: 1px;
		}
		.text-div{
			margin-top: 30px;
		}
		.icon-div{
			margin-top: 30px;
			margin-left: 150px;
		}
		.icon-div ul{
			flex-direction: row;
		}
		.icon-div ul li{
			text-align:;
		}
		.icon-style{
			height: 110px;
		}
		.text-id{
			margin-right: 10px;
		}
		.services-component {
			padding: 0px;
		}
		.project-component {
			padding: 60px 0px;
		}
		.custom-button{
			left: 35px !important;
		}
		footer{
			padding: 0px;
		}
		.copyright-div{
			font-size: 14px;
			margin-top: 60px;
		}
		.social-div{
			margin-top: 20px;
		}
		.twitter-style{
			margin-top: -20px;
		}
}

@media only screen and (max-width: 768px) {
	.logo-style{
			height: 50px;
		}
		.banner-top1,
		.banner-top2,
		.banner-top3 {
    		height: 65vw;
		}
		.callbacks_nav.next {
			display: none;
		}
		.callbacks_nav.prev{
			display: none;
		}
		.banner-info_agile_w3ls h3{
			margin-top: -120px;
    		font-size: 25px;
    		line-height: 40px;
		}
		.collapse{
			position:absolute;
		}
		.navbar{
			padding: 0px;
			margin-top: 16px;
		}
		div#navbarSupportedContent{
			margin-top: 85px;
			margin-left: 298px;
		}
		.nav-item{
			margin:0px;
			color: #000;
		}
		.slide_p{
			margin-top: -136px;
		}
		.banner-info_agile_w3ls p{
			font-size: 17px;
    		text-align: justify;
		}
		a.btn.btn-white{
			position: absolute;
    		right: 540px;
			margin-top: -80px;
		}
		.caption-one{
			padding-top: 0px;
			position: absolute;
		}
		.our-work{
			height: 310px;
    		position: relative;
    		padding-top: 1px;
    		padding-bottom: 6px;
    		background-position: cover;
		}
		.our-work p {
			width:75%;
			font-size: 20px;
			line-height: 40px;
		}
		.caption-one-button{
			right: 270px !important;
			margin-top: -4px !important;
		}
		.caption-two{
			top: 280px;
			left: 324px;
			font-size: 15px;
		}
		.caption-three{
			position: absolute;
    		top: 280px;
    		right: 15px;
    		letter-spacing: 1px;
		}
		.text-div{
			margin-top: 30px;
		}
		.icon-div{
			margin-top: 30px;
		}
		.icon-div ul{
			flex-direction: row;
		}
		.icon-div ul li{
			text-align:;
		}
		.icon-style{
			height: 110px;
		}
		.text-id{
			margin-left: 10px;
		}
		.services-component {
			padding: 0px;
		}
		.project-component {
			padding: 60px 0px;
		}
		footer{
			padding: 0px;
		}
		.copyright-div{
			font-size: 14px;
		}
		.social-div{
			margin-top: 20px;
		}
		.twitter-style{
			margin-top: -20px;
		}
}

@media only screen and (max-width : 425px) {
	.logo-style{
			height: 50px;
		}
		.banner-top1,
		.banner-top2,
		.banner-top3 {
    		height: 75vw;
		}
		.callbacks_nav.next {
			display: none;
		}
		.callbacks_nav.prev{
			display: none;
		}
		.banner-info_agile_w3ls h3{
			margin-top: -160px;
    		font-size: 20px;
    		line-height: 25px;
		}
		.collapse{
			position:absolute;
		}
		.navbar{
			padding: 0px;
		}
		.heading{
			font-size: 30px;
		}
		div#navbarSupportedContent{
			margin-top: 85px;
		}
		.nav-item{
			margin:0px;
			color: #000;
		}
		.slide_p{
			margin-top: -382px;
		}
		.banner-info_agile_w3ls p{
			display: none;
		}
		a.btn.btn-white{
			margin-top: 335px;
		}
		.caption-one{
			padding-top: 0px;
			position: absolute;
		}
		.our-work{
			height: 167px;
    		position: relative;
    		padding-top: 1px;
    		padding-bottom: 6px;
    		background-position: center;
		}
		.our-work p {
			width:50%;
			font-size: 10px;
			line-height: 16px;
		}
		.caption-one-button{
			display: none !important;
		}
		.caption-two{
			top: 140px;
			left: 148px;
			font-size: 15px;
		}
		.caption-three{
			display: none !important;
		}
		.icon-div ul{
			flex-direction: column;
		}
		.icon-div ul li{
			text-align: center;
		}
		.icon-style{
			height: 110px;
		}
		.text-id{
			margin-right: 90px;
		}
		.services-component {
			padding: 0px;
		}
		.project-component {
			padding: 3px 0px;
		}
		footer{
			padding: 0px;
		}
}

@media only screen and (max-width : 414px) {
	.logo-style{
			height: 50px;
		}
		.banner-top1,
		.banner-top2,
		.banner-top3 {
    		height: 75vw;
		}
		.callbacks_nav.next {
			display: none;
		}
		.callbacks_nav.prev{
			display: none;
		}
		.banner-info_agile_w3ls h3{
			margin-top: -160px;
    		font-size: 20px;
    		line-height: 25px;
		}
		.collapse{
			position:absolute;
		}
		.navbar{
			padding: 0px;
		}
		div#navbarSupportedContent{
			margin-top: 85px;
		}
		.nav-item{
			margin:0px;
			color: #000;
		}
		.slide_p{
			margin-top: -382px;
		}
		.banner-info_agile_w3ls p{
			display: none;
		}
		a.btn.btn-white{
			margin-top: 335px;
		}
		.caption-one{
			padding-top: 0px;
			position: absolute;
		}
		.our-work{
			height: 167px;
    		position: relative;
    		padding-top: 1px;
    		padding-bottom: 6px;
    		background-position: center;
		}
		.our-work p {
			width:50%;
			font-size: 10px;
			line-height: 16px;
		}
		.caption-one-button{
			display: none !important;
		}
		.caption-two{
			top: 140px;
			left: 148px;
			font-size: 15px;
		}
		.caption-three{
			display: none !important;
		}
		.icon-div ul{
			flex-direction: column;
		}
		.icon-div ul li{
			text-align: center;
		}
		.icon-style{
			height: 110px;
		}
		.text-id{
			margin-right: 90px;
		}
		.services-component {
			padding: 0px;
		}
		.project-component {
			padding: 3px 0px;
		}
		footer{
			padding: 0px;
		}
}

@media only screen and (max-width : 411px) {
	.logo-style{
			height: 50px;
		}
		.banner-top1,
		.banner-top2,
		.banner-top3 {
    		height: 75vw;
		}
		.callbacks_nav.next {
			display: none;
		}
		.callbacks_nav.prev{
			display: none;
		}
		.banner-info_agile_w3ls h3{
			margin-top: -160px;
    		font-size: 20px;
    		line-height: 25px;
		}
		.collapse{
			position:absolute;
		}
		.navbar{
			padding: 0px;
		}
		div#navbarSupportedContent{
			margin-top: 85px;
		}
		.nav-item{
			margin:0px;
			color: #000;
		}
		.slide_p{
			margin-top: -382px;
		}
		.banner-info_agile_w3ls p{
			display: none;
		}
		a.btn.btn-white{
			margin-top: 335px;
		}
		.caption-one{
			padding-top: 0px;
			position: absolute;
		}
		.our-work{
			height: 167px;
    		position: relative;
    		padding-top: 1px;
    		padding-bottom: 6px;
    		background-position: center;
		}
		.our-work p {
			width:50%;
			font-size: 10px;
			line-height: 16px;
		}
		.caption-one-button{
			display: none !important;
		}
		.caption-two{
			top: 135px;
			left: 85px;
			font-size: 15px;
		}
		.caption-three{
			display: none !important;
		}
		.icon-div ul{
			flex-direction: column;
		}
		.icon-div ul li{
			text-align: center;
		}
		.icon-style{
			height: 110px;
		}
		.text-id{
			margin-right: 90px;
		}
		.services-component {
			padding: 0px;
		}
		.project-component {
			padding: 3px 0px;
		}
		footer{
			padding: 0px;
		}
}

@media only screen and (max-width : 375px) {
	.logo-style{
			height: 50px;
		}
		.banner-top1,
		.banner-top2,
		.banner-top3 {
    		height: 100vw;
		}
		.callbacks_nav.next {
			display: none;
		}
		.callbacks_nav.prev{
			display: none;
		}
		.banner-info_agile_w3ls h3{
			margin-top: -160px;
    		font-size: 20px;
    		line-height: 25px;
		}
		.collapse{
			position:absolute;
		}
		.navbar{
			padding: 0px;
		}
		div#navbarSupportedContent{
			margin-top: 85px;
		}
		.nav-item{
			margin:0px;
			color: #000;
		}
		.slide_p{
			margin-top: -382px;
		}
		.banner-info_agile_w3ls p{
			display: none;
		}
		a.btn.btn-white{
			margin-top: 335px;
		}
		.caption-one{
			padding-top: 0px;
			position: absolute;
		}
		.our-work{
			height: 167px;
    		position: relative;
    		padding-top: 1px;
    		padding-bottom: 6px;
    		background-position: center;
		}
		.our-work p {
			width:50%;
			font-size: 10px;
			line-height: 16px;
		}
		.caption-one-button{
			display: none !important;
		}
		.caption-two{
			top: 140px;
			left: 124px;
			font-size: 15px;
		}
		.caption-three{
			display: none !important;
		}
		.icon-div ul{
			flex-direction: column;
		}
		.icon-div ul li{
			text-align: center;
		}
		.icon-style{
			height: 110px;
		}
		.text-id{
			margin-right: 90px;
		}
		.services-component {
			padding: 0px;
		}
		.project-component {
			padding: 3px 0px;
		}
		footer{
			padding: 0px;
		}
}

@media only screen and (max-width : 360px) {
		.logo-style{
			height: 50px;
		}
		.banner-top1,
		.banner-top2,
		.banner-top3 {
    		height: 100vw;
		}
		.callbacks_nav.next {
			display: none;
		}
		.callbacks_nav.prev{
			display: none;
		}
		.banner-info_agile_w3ls h3{
			margin-top: -160px;
    		font-size: 20px;
    		line-height: 25px;
		}
		.collapse{
			position:absolute;
		}
		.navbar{
			padding: 0px;
		}
		div#navbarSupportedContent{
			margin-top: 85px;
		}
		.nav-item{
			margin:0px;
			color: #000;
		}
		.slide_p{
			margin-top: -382px;
		}
		.banner-info_agile_w3ls p{
			display: none;
		}
		a.btn.btn-white{
			margin-top: 335px;
		}
		.caption-one{
			padding-top: 0px;
			position: absolute;
		}
		.our-work{
			height: 167px;
    		position: relative;
    		padding-top: 1px;
    		padding-bottom: 6px;
    		background-position: center;
		}
		.our-work p {
			width:50%;
			font-size: 10px;
			line-height: 16px;
		}
		.caption-one-button{
			display: none !important;
		}
		.caption-two{
			top: 135px;
			left: 85px;
			font-size: 15px;
		}
		.caption-three{
			display: none !important;
		}
		.icon-div ul{
			flex-direction: column;
		}
		.icon-div ul li{
			text-align: center;
		}
		.icon-style{
			height: 110px;
		}
		.text-id{
			margin-right: 90px;
		}
		.services-component {
			padding: 0px;
		}
		.project-component {
			padding: 3px 0px;
		}
		footer{
			padding: 0px;
		}
}

@media only screen and (max-width : 320px) {
		.logo-style{
			height: 50px;
		}
		.banner-top1,
		.banner-top2,
		.banner-top3 {
    		height: 100vw;
		}
		.callbacks_nav.next {
			display: none;
		}
		.callbacks_nav.prev{
			display: none;
		}
		.banner-info_agile_w3ls h3{
			margin-top: -160px;
    		font-size: 20px;
    		line-height: 25px;
		}
		.collapse{
			position:absolute;
		}
		.navbar{
			padding: 0px;
		}
		div#navbarSupportedContent{
			margin-top: 85px;
		}
		.nav-item{
			margin:0px;
			color: #000;
		}
		ul.navbar-nav.mr-auto.wow.fadeInLeft.animated.animated.animate-style{
			margin-left: -188px;
		}
		.slide_p{
			margin-top: -382px;
		}
		.banner-info_agile_w3ls p{
			display: none;
		}
		a.btn.btn-white{
			margin-right: -461px;
		}
		.caption-one{
			padding-top: 0px;
			position: absolute;
			top: -52px;
		}
		.heading{
			font-size: 20px;
		}
		.our-work{
			height: 167px;
    		position: relative;
    		padding-top: 1px;
    		padding-bottom: 6px;
    		background-position: center;
		}
		.our-work p {
			width:50%;
			font-size: 10px;
			line-height: 16px;
		}
		.caption-one-button{
		}
		.caption-two{
			top: 140px;
			left: 105px;
			font-size: 15px;
		}
		.caption-three{
			display: none !important;
		}
		.icon-div ul{
			flex-direction: column;
		}
		.icon-div ul li{
			text-align: center;
		}
		.icon-style{
			height: 110px;
		}
		.text-id{
			margin-right: 90px;
		}
		.services-component {
			padding: 0px;
		}
		.project-component {
			padding: 3px 0px;
		}
		footer{
			padding: 0px;
		}
}


/* ---------------------------------------------------
    SERVICE STYLE
----------------------------------------------------- */

@media only screen and (max-width: 1024px){
	.service-banner{
		margin-top: -194px;
		height: 520px;
	}
	.banner-text{
		top: 295px;
		width: 90%;
	}
}
@media only screen and (max-width: 768px){
	.service-banner{
		margin-top: -294px;
		height: 520px;
	}
	.banner-text{
		top: 295px;
		width: 90%;
	}
}
@media only screen and (max-width: 425px){
	.service-banner{
		margin-top: -294px;
		height: 520px;
	}
	.banner-text{
		top: 295px;
		width: 100%;
	}
}
@media only screen and (max-width: 414px){
	.service-banner{
		margin-top: -294px;
		height: 520px;
	}
	.banner-text{
		top: 295px;
		width: 100%;
	}
}
@media only screen and (max-width: 411px){
	.service-banner{
		margin-top: -294px;
		height: 520px;
	}
	.banner-text{
		top: 295px;
		width: 100%;
	}
}
@media only screen and (max-width: 375px){
	.service-banner{
		margin-top: -294px;
		height: 520px;
	}
	.banner-text{
		top: 295px;
		width: 100%;
	}
}
@media only screen and (max-width: 360px){
	.service-banner{
		margin-top: -294px;
		height: 520px;
	}
	.banner-text{
		top: 295px;
		width: 100%;
	}
}
@media only screen and (max-width: 320px){
	.service-banner{
		margin-top: -294px;
		height: 520px;
	}
	.banner-text{
		top: 295px;
		width: 100%;
	}
}

/* ---------------------------------------------------
    ABOUT STYLE
----------------------------------------------------- */
@media only screen and (max-width: 320px){
	.logo-style{
			height: 50px;
		}
		.collapse{
			position:absolute;
		}
		.navbar{
			padding: 0px;
		}
		div#navbarSupportedContent{
			margin-top: 85px;
		}
		.nav-item{
			margin:0px;
			color: #000;
		}
		ul.navbar-nav.mr-auto.wow.fadeInLeft.animated.animated.animate-style{
			margin-left: -188px;
		}
}

	