*{
	padding: 0px;
	margin: 0px;
}
body, html{
    overflow-x:hidden;
}

/* ---------------------------------------------------
    HOMEPAGE STYLE
----------------------------------------------------- */
.logo-style{
	object-fit: cover;
	height: 79px;
}
.navbar{
	padding: 10px 20px;
	background: transparent !important;
	animation: moveInLeft;
	animation-duration: 3s;
	animation-timing-function: ease-out;
	z-index: 3;
}
.nav-link{
	color:#fff !important;
}
.nav-style{
	margin-left: 114px;
}
.nav-li{
	font-family: acumin-pro, sans-serif;
    text-transform: capitalize;
    font-size: 15px;
}
.nav-item{
    position: relative;
	display: inline-block;
	margin: 15px 25px;
	outline: none;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
}
.slider-h3{
	font-size: 20px;
	text-transform: uppercase;
}
.active a{
    color:#01ACF1 !important;
}
.cl-effect-3 a {
	padding: 8px 0;
}

.cl-effect-3 a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 4px;
	background: #01ACF1;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}


.cl-effect-3 a:hover::after,
.cl-effect-3 a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

@keyframes moveInLeft {
	0%{
		opacity:0;
		transform: translateX(-100px);
	}
	80%{
		transform: translateX(10px);
	}
	100%{
		opacity: 1;
		transform: translate(0);
	}
}
@keyframes moveInRight {
	0%{
		opacity:0;
		transform: translateX(-100px);
	}
	80%{
		transform: translateX(10px);
	}
	100%{
		opacity: 1;
		transform: translate(0);
	}
}

.banner-top1,
.banner-top2,
.banner-top3 {
    height: 50vw;
}
.slider {
	margin-top: -111px;
}
#slider2,
#slider3 {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0 auto;
}
.banner-top1 {
    background: url(../images/DOC_banner_one.jpg) no-repeat 0px 0px;
    background-size: 100% auto;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    -moz-background-size: 100% auto;
    background-position: center;
}

.banner-top2 {
    background: url(../images/DOC_banner_one.jpg) no-repeat 0px 0px;
    background-size: 100% auto;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    -moz-background-size: 100% auto;
    background-position: center;
}

.banner-top3 {
    background: url(../images/DOC_banner_one.jpg) no-repeat 0px 0px;
    background-size: 100% auto;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    -moz-background-size: 100% auto;
}

.banner-info_agile_w3ls {
    padding-top: 18em;
}

.banner-info_agile_w3ls h3 {
    font-size: 37px;
    line-height: 50px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: capitalize;
    font-family: acumin-pro, sans-serif;
    animation: moveInRight;
	animation-duration: 5s;
	animation-timing-function: ease-out;
	z-index: 3;
}
.slide_p{
	margin-top: -10px;
}
.btn:link, .btn:visited{
	text-transform: capitalize;
	text-decoration: none;
	padding: 15px 40px;
	display: inline-block;
	border-radius: 100px;
}
.btn:hover{
	transform: translateY(-3px);
    background: #27418A;
    color: #fff;
}
.btn:active{
	transform: translateY(-1px);
}
.btn-white{
	background-color: transparent;
	color: #fff !important;
	border:1px solid #27418A;
}
.banner-info_agile_w3ls p {
    max-width: 900px;
    color: #f3f3f3;
    line-height: 30px;
    letter-spacing: 1px;
    font-family: acumin-pro, sans-serif;
}

.rslides_tabs li:first-child {
    margin-left: 0;
}

.rslides_tabs .rslides_here a {
    background: rgba(255, 255, 255, .1);
    color: #fff;
    font-weight: bold;
}

.events {
    list-style: none;
}

.callbacks_container {
    position: relative;
    float: left;
    width: 100%;
}

.callbacks {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}
.key-ul{
    margin-left: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    margin-top: 25px;
}
.callbacks li {
    position: absolute;
    width: 100%;
}

.callbacks img {
    position: relative;
    z-index: 1;
    height: auto;
    border: 0;
}

.callbacks .caption {
    display: block;
    position: absolute;
    z-index: 2;
    font-size: 20px;
    text-shadow: none;
    color: #fff;
    left: 0;
    right: 0;
    padding: 10px 20px;
    margin: 0;
    max-width: none;
    top: 10%;
    text-align: center;
}

.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    top: 50%;
    left: 40px;
    opacity: 0.7;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 34px;
    width: 34px;
    background: url(../images/left.png) no-repeat 0px 0px;
}

.callbacks_nav.next {
    left: auto;
    background: url(../images/right.png) no-repeat 0px 0px;
    right: 0;
}

.callbacks_nav.prev {
    left: auto;
    background: url(../images/left.png) no-repeat 0px 0px;
    left: 0px;
}

#slider3-pager a {
    display: inline-block;
}

#slider3-pager span {
    float: left;
}

#slider3-pager span {
    width: 100px;
    height: 15px;
    background: #fff;
    display: inline-block;
    border-radius: 30em;
    opacity: 0.6;
}

#slider3-pager .rslides_here a {
    background: #FFF;
    border-radius: 30em;
    opacity: 1;
}

#slider3-pager a {
    padding: 0;
}

#slider3-pager li {
    display: inline-block;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    height: auto;
    border: 0;
}
.callbacks_tabs a {
    visibility: hidden;
}

.slider-top span {
    font-weight: 600;
}
.our-work{
    background: url(../images/our-work.jpg) no-repeat 0px 0px;
    background-size: 100% auto;
    -webkit-background-size:  cover;
    -moz-background-size:  cover;
    -o-background-size:  cover;
    -moz-background-size:  cover;
    background-position: cover;
    height: 550px;
    position: relative;
    margin-top: -88px;
    animation: moveInRight;
    animation-duration: 9s;
    animation-timing-function: ease-out;
}
.caption-one{
    color: #fff;
    padding-top: 160px;
}
.caption-one-button{
    margin-top: 30px;
}
.caption-two{
    position: absolute;
    top: 499px;
    left: 575px;
    letter-spacing: 1px;
}
.caption-three {
    position: absolute;
    top: 500px;
    right: 115px;
    letter-spacing: 1px;
}
.heading {
    font-size: 40px;
    font-family: acumin-pro, sans-serif;
    letter-spacing: 1px;
    color: #fff;
    font-weight: bolder;
    text-transform: capitalize;
}
.caption-one p {
    font-size: 17px;
    font-family: acumin-pro, sans-serif;
    line-height: 25px;
    letter-spacing: 1px;
    color: #fff;
}
.caption-strong{
    color: #fff;
    font-family: acumin-pro, sans-serif;
}
.text-div p{
    color: #fff;
    font-family: acumin-pro, sans-serif;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 25px;
}
.services-component{
    background-color: #161616;
    padding: 100px 0px;
}
.icon-div{
    margin-top: -20px;
}
.icon-style{
}
.icon-div ul{
    display: flex;
    flex-direction: row;
}
.icon-div ul li{
    list-style: none;
}
.text-id{
    color:#fff;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: acumin-pro, sans-serif;
    font-size: 15px;
    display: block;
}
.project-component{
    background-color: #161616;
    padding: 70px 0px;
    font-family: acumin-pro, sans-serif;
}
.copyright-div{
    color: #fff;
    letter-spacing: 1px;
    font-size: 20px;
    margin-top: 40px;
}
footer{
    background-color:#070707;
    padding: 50px 0px;
    height: auto;
}
.social-ul{
    display: flex;
    flex-direction: row;
}
.social-div ul li{
    display:inline-block;
}
.socials img {
    height: 60px;
}
.copyright-div{
            font-size: 14px;
        }
        .custom-style{
            margin-top: 20px;
        }

/* ---------------------------------------------------
    ABOUT US STYLE
----------------------------------------------------- */
.about-banner{
    background-color: #000;
    height: 508px;
    margin-top: -109px;
}
.about-us{
    margin-top: 175px;
    animation: moveInLeft;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}
.about-Us{
    margin-top: 100px;
    animation: moveInLeft;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}
.side-img {
    background: url(../images/DOC-WHO-WE-ARE-IMG1.png) no-repeat 0px 0px;
    background-size: 100% auto;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    -moz-background-size: 100% auto;
    background-position: cover;
    height: 473px;
    position: relative;
    margin-top: -24px;
    animation: moveInRight;
    animation-duration: 9s;
    animation-timing-function: ease-out;
}
.about-us p {
    color: #fff;
    font-family: acumin-pro, sans-serif;
    letter-spacing: 1px;
    text-align: justify;
}
.about-Us p {
    color: #fff;
    font-family: acumin-pro, sans-serif;
    letter-spacing: 1px;
    text-align: justify;
}
.side-img1 {
    background: url(../images/DOC-WHO-WE-ARE-IMG.png) no-repeat 0px 0px;
    background-size: 100% auto;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    -moz-background-size: 100% auto;
    background-position: cover;
    height: 667px;
    margin-top: -60px;
    position: relative;
    animation: moveInRight;
    animation-duration: 9s;
    animation-timing-function: ease-out;
}
.vision-banner{
    background-color: #070707;
    height: 600px;
}
.our-team{
    background-color: #000;
    height: 400px;
    margin-top: -187px;
}
.team-div{
    padding-top: 140px;
}
.team-div p{
    color: #fff;
    font-family: acumin-pro, sans-serif;
    letter-spacing: 1px;
    text-align: justify;
}
.team{
    padding-bottom: 10px;
}
.DOC-background{
    background-color: #070707;
    height: auto;
}
.DOC {
    padding: 70px 0px;
}
.DOC ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.DOC ul li{
    list-style: none;
}
.team-style{
    border-radius: 100%;
    height: 300px;
    width:80%;
    display: block;
}
ul li span {
    color: #fff;
    font-family: acumin-pro, sans-serif;
    display: block;
    margin-left: 95px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
}

/* ---------------------------------------------------
    SERVICE STYLE
----------------------------------------------------- */

.service-banner {
    background: url(../images/DOC-service-banner.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-position: center;
    height: 500px;
    margin-top: -110px;
    position: relative;
    animation: moveInRight;
    animation-duration: 9s;
    animation-timing-function: ease-out;
}
.banner-text{
    color: #fff;
    width: 50%;
    position: absolute;
    top: 200px;
    font-family: acumin-pro, sans-serif;
}
.banner-text h3{
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.banner-text p{
    font-family: acumin-pro, sans-serif;
    letter-spacing: 1px;
}

.creatives{
    background: url(../images/DOC-creatives.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-position: cover;
    height: 600px;
    margin-top: -40px;
    position: relative;
    animation: moveInRight;
    animation-duration: 9s;
    animation-timing-function: ease-out;
}
.digitalM{
    background: url(../images/DOC-digital.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-position: cover;
    height: 550px;
    margin-top: 0px;
    position: relative;
    animation: moveInRight;
    animation-duration: 9s;
    animation-timing-function: ease-out;
}
.digitalS{
    background: url(../images/DOC-digitals.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-position: cover;
    height: 550px;
    margin-top: 0px;
    position: relative;
    animation: moveInRight;
    animation-duration: 9s;
    animation-timing-function: ease-out;
}
.creatives-text{
    color: #fff;
    width: 45%;
    position: absolute;
    top: 200px;
    font-family: acumin-pro, sans-serif;
}
.creatives-text h3{
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.creatives-text p{
    font-family: acumin-pro, sans-serif;   
    letter-spacing: 1px;
}
.digitalM-text{
    color: #fff;
    width: 45%;
    position: absolute;
    top: 200px;
    font-family: acumin-pro, sans-serif;
}
.digitalM h3{
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.digitalM p{
    font-family: acumin-pro, sans-serif;   
    letter-spacing: 1px;
}
.service-button{
    padding: 20px 95px !important;
}
.digitalS-text{
    color: #fff;
    width: 45%;
    position: absolute;
    top: 200px;
    font-family: acumin-pro, sans-serif;
}
.digitalS h3{
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.digitalS p{
    font-family: acumin-pro, sans-serif;   
    letter-spacing: 1px;
}